marquee{
    color:#fff;
    background-color: orange;
    font-weight:bold;
 	 font-family:candara;
}
	

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
p{
  text-align: justify;
}

body {
	font-family: sans-serif;
	line-height: 1.6;
}

header {
	background-color: orange;
	color: #fff;
	padding: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

nav ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

nav li {
	margin-right: 1em;
}

nav a {
	color: #fff;
	text-decoration: none;
	padding: 0.5em 1em;
	border-radius: 5px;
	transition: background-color 0.3s ease-in-out;
}

nav a:hover {
	background-color: #fff;
	color: #333;
}
footer {
	background-color: orange;
	color: #fff;
	padding: 1em;
	text-align: center;
}
.container{
    max-width: 1200px;
    margin: 20px auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
col-2{
    flex-basis: 50%;
    min-width: 300px;
}
col-2 img{
    width: 100%;
    padding: 30px 0; 
}
col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25% 0;
}
p{
     color: #555;
}
.col-2 a{
    display: inline-block; 
    text-decoration: none;
    padding: 10px 30px;
    background: #04cfe2;
    color: #fff;
    border-radius: 30px;
    margin-top: 25px;
    transition: background 0.5s;
}
.col-2 a:hover{
    background: #106e77;
}
.header{
    margin-top: -20px;
    background: radial-gradient(#fff, #eaf2fb);
}
.categories{
    margin: 70px 0;
  
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-left: 15px ;
    display: inline-flex;
}
.col-3 img{
    width: 100%;
}
.container h2{
    text-align: center;
    font-size: 2.8rem;
    color: #444;
    margin: 25px 0;
    font-family: candara;
}
.col-4{
    flex-basis: 25%;
    min-width: 200px;
    padding: 15px;
    transition: transform 0.3s;
}
.col-4 img{
    width: 100%;
}
.col-4:hover{
   transform: translateY(-10px);
}
.ing{
	height: 200px;
	width: 50px;
}
.iig{
	height: 250px;
	width: 150px;
}
#ck{
	background-color: #fff;
	color: #333;
}
#btn{
	background-color: orange;
	color: #fff;
	padding: 0.5em 1em;
	border: 1px solid orange;
   border-radius: 5px; 
	cursor: pointer;
	float: right;
}